body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    font-family: Arial;
    font-size: 12px;
    color: #555;
    background-color: #ededed;
    -webkit-app-region: no-drag;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
}

.nav-wrapper {
    padding: 8px;
}

.nav-container {
    background-color: #eee;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    overflow: hidden;
}

.nav-container .nav-icon {
    cursor: pointer;
    color: #000;
    text-align: center;
    width: 80px;
    height: 80px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-top: 52px;
    background-repeat: no-repeat;
    background-position: center 10px;
    box-sizing: border-box;
    opacity: .3;
    margin-top: -1px;

}

.icon-settings {
    /*background-image: url(images/settings-icon.png);*/
}

.icon-changes {
    background-image: url(images/changes-icon.png);
}

.icon-history {
    background-image: url(images/history-icon.png);
}

.icon-browse {
    background-image: url(images/browse-icon.png);
}

.icon-refresh {
    background-image: url(images/refresh-icon.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    text-indent: -999px;
}

.icon-refresh-small {
    background-image: url(images/refresh-icon.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px !important;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    text-indent: -999px;
}

.nav-container .nav-icon.selected {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: #fff;
    color: #000;
    opacity: .7;
    font-weight: 700;
}


.changes, .browse {
    overflow: auto;
    padding: 10px;
    padding-top: 8px;
    padding-right: 20px;
}

.browse .panel {
    padding: 8px;
}

.log-list-wrapper {
    overflow: auto;
    padding-top: 20px;
}

.log-list {
    border-left: 3px solid #d1d1d1;
    margin-left: 70px;
}

.file-diff {
    background: white;
    overflow: hidden;
}

.log-item, .change-item {
    background: #fcfcfc;
    border: 1px solid #d5d5d5;
    box-shadow: 0px 1px 0px rgba(0,0,0,.01);
    box-sizing: border-box;
    border-radius: 2px;
    margin: 10px;
    margin-left: 14px;
    cursor: default;
}

.change-list {
    clear: both;
}

.change-list .path {
    background: #fff;
}

.changes-tools {
    padding: 8px;
    font-weight: 700;
}

.panel {
    background-color: #fcfcfc;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

textarea, input[type=text] {
    background-color: #fcfcfc;
    border: 1px solid #d5d5d5;
    border-top: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px #eee;
    padding: 8px;
    box-sizing:border-box;
    outline: none;
    font-family: Arial;
    font-size: 12px;
}

.commit-message {
    resize: none;
    background-color: #fcfcfc;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 6px;
    margin-top: 6px;
}

.commit-wrapper .title {
    font-size: 15px;
    font-weight: 700;
    vertical-align: middle;
}

.commit-wrapper {
    margin-bottom: 4px;
}

.btn {
    font-family: Arial;
    color: #333;
    font-size: 11px;
    border-radius: 3px;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255,255,255,.1);
    font-weight: 700;
    border: 1px solid #d5d5d5;
    box-shadow: inset 0px 1px 0px #fff;
    background-image: -webkit-linear-gradient(top, #f4f4f4, #efefef);
    background-color: #f6f6f6;
    cursor: pointer;
}


.btn:hover {
    box-shadow: inset 0px 1px 0px #fff, 0px 1px 2px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);
    background-color: #fff;
}

.btn .icon {
	display: inline-block;
	margin-left: 8px;
}

.log-item .author {
    font-weight: 700;
    font-size: 13px;
    float: left;
    color: #ed6a4d;
    margin-top: 8px;
    margin-left: 8px;
}

.log-item .date {
    position: absolute;
    left: -130px;
    top: 8px;
    font-weight: 700;
    text-align: right;
    direction: rtl;
    width: 100px;
}

.log-item .message {
    clear: both;
    padding-right: 50px;
    padding-top: 10px;
    min-height: 1em;
    white-space: pre-wrap;
    margin-left: 8px;
    margin-bottom: 8px;
}

.log-item .revision {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 11px;
    color: #aaa;
}

.change-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #777;
    position: relative;
}

.log-item {
    position: relative;
}

.log-item:hover:after {
    border-right-color: #fff;
}

.log-item:hover {
    background: #fff;
}

.log-item:after, .log-item:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.log-item:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #fcfcfc;
    border-width: 6px;
    left: -12px;
    top: 11px;
}
.log-item:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c5c5c5;
    border-width: 7px;
    left: -12px;
    margin-left: -2px;
    top: 10px;
}

.log-item.working-revision .revision {
    /*background-image: -webkit-linear-gradient(top, #f4f4e7, #dcdbbc);*/
    font-weight: 700;
    color: white;
    background: #ed6a4d;
    padding: 2px 6px 2px 6px;
    border-radius: 4px;
}

.change-item .status {
    margin-right: 12px;
}

.change-item:hover {
    color: #111;
}

.path {
    padding: 8px;
    color: #777;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    background: #f2f2f2;
    border-top: 1px solid #e6e6e6;
}

.path:hover {
    cursor: pointer;
    color: #111;
}

.loading {
    background-image: url(images/spinner.svg) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px 50px;
}

.icon-status {
    float: right;
    background-size: 16px 16px;
    display: inline-block;
    min-height: 16px;
    min-width: 16px;
    background-position: right center;
    text-indent: 20px;
    line-height: 16px;
    text-align: right;
    direction: rtl;
}

.date-splitter {
    margin: 28px 0 24px 35px;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.date-splitter:before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: -54px;
    top: -8px;
    background-image: url(images/dot.png);
}

.status {
    border-radius: 2px;
    color: #fff;
    padding: 0 3px 0 3px;
    font-size: 10px;
    font-weight: bold;
    margin-right: 4px;
    font-family: tahoma;
    width: 10px;
    display: inline-block;
    text-align: center;
    background: #666;
}

.status-M {
    background: #618ad9;
}
.status-A {
    background: #78b727;
}
.status-D {
    background: #C8524a;
}

.flex-item {
    min-width: 50px;
    min-height: 50px;
    -webkit-flex: 1 1 auto;
}

.flex-item.fixed {
    -webkit-flex: 0 0 auto;   
}

.flex {
     display: -webkit-flex;
}

.flex.column {
    -webkit-flex-direction: column;
}

.flex.row {
    -webkit-flex-direction: row;
}

.toolbar {
    background-image: -webkit-linear-gradient(top, #555, #414141);
    box-shadow: 0px 1px 0px #fefefe, inset 0px -1px 1px rgba(0,0,0,.5);
    min-height: 30px;
    padding: 5px;
}

.toolbar .btn {
    color: #eee;
    text-shadow: 0px 1px 0px rgba(0,0,0,.3);
    border: 1px solid #2a2a2a;
    box-shadow: inset 0px 1px 0px #676767, 0px 1px 0px #565656;
    background: transparent;
}

.statusbar {
    background-image: -webkit-linear-gradient(top, #d6d6d6, #b9b9b9);
    border-bottom: 1px solid #6b6b6b;
    padding: 2px;
    min-height: 28px;
    z-index: 6;
    background-clip: padding-box; 
}

.statusbar {
    border-bottom: none;
    border-top: 1px solid #999;
box-shadow: inset 0px 1px 0px #eee;
    min-height: 16px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar {
    border-radius:8px;
}
::-webkit-scrollbar-thumb {
    border-radius:8px;
    background-color: rgba(0,0,0,.5);
    border: 2px solid transparent;
    -webkit-background-clip: content-box;
}

::-webkit-scrollbar:active,
::-webkit-scrollbar:hover, 
::-webkit-scrollbar:focus{
    border-radius: 8px;
    background-color: #EEE;
}

.popup {
    min-width: 200px;
    max-width: 300px;
    background: rgba(255,255,255, .9);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);
    padding: 10px;
    position: relative;
    opacity: 1;
    -webkit-transition: all .5s;
    -webkit-animation-name: slidein;
     -webkit-animation-duration: .3s;
     -webkit-animation-iteration-count: 1;
}

.popup-cover {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,.3);
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-transition: all .5s;

    -webkit-animation-name: slidein;
     -webkit-animation-duration: .3s;
     -webkit-animation-iteration-count: 1;
}

.popup .popup-title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 6px;
}

.popup-fade-out, .popup-fade-out .popup {
    opacity: 0;
    top: -400px;
    pointer-events: none;
}

@-webkit-keyframes slidein {
 from {
   top: -400px;
   opacity: 0;
 }
 to {
   top: 0px;
   opacity: 1;
 }
}

.popup-msg {
    /*text-align: center;*/
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

.popup .btn-ok {
    float: right;
}

.popup .btn-cancel {
    float: left;
}

.settings {
    padding-top: 6px;
}

.settings label span {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

.settings label {
    line-height: 30px;
}

.settings input {
    
}

.CodeMirror pre {
    font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace !important;
}

.toolbar-breadcrumb {
    display: inline-block;
    padding: 7px;
    text-shadow: 0px 1px 0px rgba(0,0,0,.1);
}

.breadcrumb-node {
    color: #aaa;
    margin-right: 5px;
}

.breadcrumb-node:after {
    content: '>';
    margin-left: 4px;
    display: inline-block;
    position: relative;
    color: #aaa;
}

.breadcrumb-node:last-child:after {
    content: '';
    margin-left: 4px;
    display: inline-block;
    position: relative;
    color: #aaa;
}
